@import '/src/index.scss';

.section-about {
  background-color: var(--color-gray-light-1);
  padding: 25rem 0;
  margin-top: -20dvh;

  @include screen(tab-port) {
    padding: 20rem 0;
  }
}

.composition {
  position: relative;

  @include screen(tab-port) {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }
}

.composition__photo {
  width: 55%;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  border-radius: 2px;
  position: absolute;
  transition: all 0.25s ease-out;
  z-index: 10;

  @include screen(tab-port) {
    position: unset;
  }
}

.composition__photo:hover {
  transform: scale(1.05) translateY(-0.5rem);
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  z-index: 20;
  outline: 1rem solid var(--color-green-medium);
  outline-offset: 2rem;
}

.composition:hover .composition__photo:not(:hover) {
  transform: scale(0.95);
}

.composition__photo--p1 {
  left: 0;
  top: -2rem;
}

.composition__photo--p2 {
  right: 0;
  top: 2rem;
}

.composition__photo--p3 {
  left: 20%;
  top: 10rem;
}
