@import '/src/index.scss';

.section-tours {
  background-color: var(--color-gray-light-1);
  padding: 25rem 2rem;
  margin-top: -20dvh;
  display: flex;
  flex-direction: column;
}

.tours-list {
  display: grid;
  grid-template-columns: repeat(3, 0.8fr);
  gap: 4rem;
  justify-content: center;
  margin-bottom: 10rem;

  @include screen(tab-port) {
    grid-template-columns: 0.8fr;
  }
}

.tours__link {
  max-width: 20%;
  min-width: max-content;
  text-align: center;
  align-self: center;
}
