.tour-card {
  perspective: 150rem;
}

.tour-card__side {
  height: 50rem;
  transition: transform 0.8s ease;
  backface-visibility: hidden;
  border-radius: 3px;
  box-shadow: var(--shadow-default);
  overflow: hidden;
}

.tour-card__front-side {
  background-color: white;
  margin-top: -50rem;
}

.tour-card__back-side {
  text-align: center;
  font-size: 7rem;
  transform: rotateY(180deg);
}

.tour-card__back-side--gradient-green {
  background-image: var(--color-gradient-green);
}

.tour-card__back-side--gradient-orange {
  background-image: var(--color-gradient-orange);
}

.tour-card__back-side--gradient-pink {
  background-image: var(--color-gradient-pink);
}

.tour-card:hover .tour-card__front-side {
  transform: rotateY(-180deg);
}

.tour-card:hover .tour-card__back-side {
  transform: rotateY(0);
}

.tour-card__title {
  max-width: 100%;
  font-size: 2.8rem;
  font-weight: 300;
  text-transform: uppercase;
  color: white;
  padding: 1rem 1.5rem;
  position: absolute;
  right: 0;
  z-index: 10;
  -webkit-box-decoration-break: slice;
  box-decoration-break: slice;
}

.tour-card__title--gradient-green {
  background-image: var(--color-gradient-green);
}

.tour-card__title--gradient-orange {
  background-image: var(--color-gradient-orange);
}

.tour-card__title--gradient-pink {
  background-image: var(--color-gradient-pink);
}

.tour-card__image {
  height: 23rem;
  background-size: cover;
  background-blend-mode: screen;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
}

.tour-card__image--gradient-green {
  background-image: var(--color-gradient-green), url('/src/assets/nat-5.jpg');
}

.tour-card__image--gradient-orange {
  background-image: var(--color-gradient-orange), url('/src/assets/nat-6.jpg');
}

.tour-card__image--gradient-pink {
  background-image: var(--color-gradient-pink), url('/src/assets/nat-7.jpg');
}

.tour-card__details ul {
  width: 80%;
  margin: 0 auto;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.tour-card__details li {
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
}

.tour-card__details li:not(:last-child) {
  border-bottom: 1px solid lightgrey;
}
