.section-book {
  padding: 15rem 0;
  background-image: var(--color-gradient-green);
}

.book {
  background-image: linear-gradient(
      105deg,
      rgba(255, 255, 255, 0.7) 0%,
      rgba(255, 255, 255, 0.7) 50%,
      transparent 50%
    ),
    url('/src/assets/nat-10.jpg');
  background-size: cover;

  height: 50rem;
}

.book__form {
  width: 50%;
  padding: 6rem;
}
